.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 2% 2%;
}

.perfil-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 2px;
}

#codigo {
    width: 20%;
}

#nome {
    width: 100%;
}

#cpf {
    width: 50%;
}

#celular-perfil {
    width: 100%;
}

.button-group-crud {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-resetar-senha,
.btn-sair {
    padding: 30px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-resetar-senha {
    background-color: #F503CE;
}

.btn-sair {
    background-color: #E00000;
}

.btn-sair img {
    width: 35px;
}

.btn-resetar-senha img {
    width: 25px;
}
