.container-relatorio {
  max-width: 90%;
  margin: 5%;
  margin-top: 10%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.dropdowns-relatorio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.filtros {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.erro-required {
  color: red;
  font-size: 0.8em;
}

.botoes-geracao button {
  background: #009EE0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
}

.spinner {
  text-align: center;
  margin: 20px;
}

.grid-tabelas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.tabela-relatorio {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.tabela-relatorio.largura-total {
  grid-column: 1 / -1;
}

.tabela-relatorio table {
  width: 100%;
  border-collapse: collapse;
}

.tabela-relatorio th,
.tabela-relatorio td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.tabela-relatorio th {
  background-color: #009EE0;
  color: white;
}

/* Centraliza a última tabela se número for ímpar */
/* .grid-tabelas > .tabela-relatorio:last-child:nth-child(odd):not(:only-child) {
  grid-column: 1 / -1;
  justify-self: center;
  width: 60%;
} */

.tabela-relatorio.largura-total {
  grid-column: 1 / -1;
  width: 100%;
  justify-self: stretch;
}
