.navbar {
    background-color: #009EE0;
    padding: 6px 8px;
    height: 60px;
    text-align: center; 
  }
  
  .navbar-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
  
  .navbar-title {
    color: white;
    font-size: 16px;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
  }

  .navbar-button{
    width: 50px; /*Medida figma*/
    height: 50px; /*Medida figma*/
  }

  .navbar-button:hover{
    background-color: #007bb8;
  }

  /* .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  } */
  