.navbar {
  background-color: #009EE0;
  padding: 0px 8px;
  text-align: center; 
  height: 70px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px 20px 0;
  position: relative;
}

.navbar-button {
  display: flex;
  align-items: flex-end;
  gap: 8px; 
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.texto-sair {
  font-size: 22px; 
  color: white;
  font-weight: bold;
}

.navbar-button:hover {
  background-color: #007bb8;
}

.icon-logo {
  width: 80px;
  height: 80px;
  margin-top: 30%;
  margin-left: 10%;
}

.icon-sair {
  width: 30px;
  height: 30px;
  margin-top: 30%;
  color: white;
}

.navbar-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-page-icon {
  font-size: 26px;
  color: white;
}
