.footer {
    background-color: #009EE0;
    padding: 6px 8px;
    height: 23px;
  }
  
  .footer-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
  
  .footer-right {
    display: flex;
    gap: 20px;
  }
  .footer-button{
    width: 50px; /*Medida figma*/
    height: 50px; /*Medida figma*/
  }

  .footer-button:hover{
    background-color: #007bb8;
  }

  .fas {
    font-size: 1.3em;
  }
  
  /* .footer-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  } */
  