.footer {
    background-color: #009EE0;
    padding: 6px 8px;
    height: 50px;
  }
  
  .footer-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
  
  .footer-right {
    display: flex;
    gap: 20px;
  }
  .footer-button{
    width: 50px; /*Medida figma*/
    height: 50px; /*Medida figma*/
  }

  .footer-button:hover{
    background-color: #007bb8;
  }

  .fas {
    width: 30px;
    height: 30px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #009EE0;
    color: white;
    border: none;
  }
  